<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtual.aula.aulavirtual">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_principal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroUsuario_"
            android:label="@string/label_cad_usuario"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login_"
            android:label="@string/label_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Professor.CadastroCategoria_"
            android:label="@string/label_cad_categoria" />
        <activity
            android:name=".Professor.CadastroLista_"
            android:label="@string/label_cad_lista" />
        <activity
            android:name=".Professor.CadastroExercicio_"
            android:label="@string/label_cad_exercicio" />
        <activity
            android:name=".Professor.MainProfessor_"
            android:label="@string/label_main_professor" />
        <activity
            android:name=".ConsultarExercicio_"
            android:label="@string/label_consultar_exercicio" />
        <activity
            android:name=".Aluno.MainAluno_"
            android:label="@string/label_main_aluno" />
        <activity
            android:name=".Aluno.ResponderListas_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Aluno.ResultadoRespostas_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ListarResultados_"
            android:label="@string/label_consultar_resultados" />
    </application>

</manifest>